################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Almighty/bin/Debug
/Almighty/obj/Debug
/Almighty.UI/bin/Debug
/Almighty.UI/obj/Debug
